<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<head>
<title>Twitter Data Collection</title>
	<h1> Online Tweet Trends </h1>
<link rel="stylesheet"
	href="https://047f018102c8c8f717a6-1efb167bc857a9871c34d9fa1ea1cbde.ssl.cf1.rackcdn.com/foundation5.3.0.min.css" />
<link rel="icon" href="data:;base64,=" />


<style>
	body  {
	background-image: url("http://s32.postimg.org/dhbw1q5zp/twitter2_m2.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: scroll;
	background-size: cover;
	}
	form {

	margin : auto
	}
</style>

</head>

<body>
<form method="post">

	  <div class="medium-4 columns"  >
	  	<label> Enter Trend <input type="text" name="trend"  aria-pressed="mixed"   size="20"  align="center" /></label>
	 	<label> Enter Tweet Quantity </label><input type="text" name="quant"  size="10" align="center"/>
	 	<input type="submit" value="Submit" class="button"/>
	  </div>
</form>

</body>
</html>